.first-section {
	background-color: transparent;
	background-image: url("../img/second-mask.png"), url("../img/first-mask.png");
	background-position: right top, left top;
	background-size: 27%, 50%;
	background-repeat: no-repeat;
	height: 800px;
}

.main-info {
	margin-left: -100px;
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
	padding: 20px 0px;
}

.main-info__view {
	height: 100%;
	width: 55%;
	position: relative;
}

.main-info__sale {
	width: 129px;
	height: 141px;
	position: absolute;
	top: 10px;
	right: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	text-align: center;
	text-transform: uppercase;
	color: $blue;
	word-wrap: wrap;
	animation: levitate 3s infinite;

	> div {
		display: block;
		margin-top: -5px;
		padding: 0;
		font-size: 24px;
		line-height: 29px;
	}
}

@keyframes levitate {
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0px);
	}
}

.main-info__img {
	transition: all 1s ease;
	width: 600px;
	position: absolute;
	top: 80px;
	left: 40px;
	transform: scale(0.7) translateY(-160px) translateX(-200px);
}

.main-info__img.active {
	transform: scale(1);
	z-index: 10;
}

.main-info__btns {
	position: absolute;
	bottom: -20px;
	left: 150px;
	z-index: 100;
	height: 30px;
	display: flex;
}

.main-info__btn {
	width: 30px;
	height: 30px;
	border-radius: 0px 10px 10px 10px;
	border: 1px solid $blue;
	margin-left: 10px;
	cursor: pointer;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s ease;

	img {
		width: 15px;
		height: auto;
		transition: all 1s ease;
		margin: 0 auto;
		opacity: 0;
		visibility: hidden;
	}
}

.main-info__btn:hover {
	box-shadow: 0px 0px 10px 5px $hover;
}

.main-info__btn.active {
	img {
		opacity: 1;
		visibility: visible;
	}
}

.btn__black {
	border: 1px solid $black;
	background-color: $black;
}

.main-info__information {
	height: 100%;
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 40px;
}

.main-info__title {
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	color: $text;
	margin-bottom: 20px;
	padding-right: 50px;
}

.main-info__old-price {
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	text-decoration-line: line-through;
	color: $text;
}

.main-info__new-price {
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	color: $red;
	margin-bottom: 20px;
}

.main-info__order {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	width: 250px;
	height: 60px;
	border-radius: 0px 30px 30px 30px;
	background-color: $red;
	color: #fff;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: 0.3s ease;
}

.main-info__order:hover {
	background-color: $brown;
}

.main-info__order.mobile {
	display: none;
}

.main-info__date {
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: $text;
}

.advantages {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 193px;
	margin-top: 80px;
}

.advantage {
	width: 345px;
	height: 178px;
	border-radius: 0 25px 25px 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.advantage__1 {
	background-color: #e2d1f8;
	.advantage__logo {
		background-image: url("../img/logo1.png");
	}
	.advantage__number {
		background-image: url("../img/01.png");
	}
}

.advantage__2 {
	background-color: #fff9eb;
	.advantage__logo {
		background-image: url("../img/logo2.png");
	}
	.advantage__number {
		background-image: url("../img/02.png");
	}
}

.advantage__3 {
	background-color: #e7f6f3;
	.advantage__logo {
		background-image: url("../img/logo3.png");
	}
	.advantage__number {
		background-image: url("../img/03.png");
	}
}

.advantage__logo {
	width: 70px;
	height: 70px;
	background-color: $blue;
	border-radius: 0px 15px 15px 15px;
	position: absolute;
	top: -15px;
	left: -15px;
	background-position: center;
	background-repeat: no-repeat;
}

.advantage__title {
	font-weight: bold;
	font-size: 18px;
	color: $text;
	margin-bottom: 20px;
	width: 198px;
	text-align: left;
}

.advantage__text {
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: $text;
	width: 228px;
	text-align: left;
}

.advantage__number {
	position: absolute;
	top: 20px;
	right: 20px;
	background-position: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 35px;
}
